torch
torchaudio
transformers
librosa
pandas
numpy
matplotlib
seaborn
scikit-learn
fastapi
uvicorn
python-multipart
soundfile
ipykernel
accelerate
xgboost
lightgbm
python-multipart
huggingface_hub
langchain
langchain-core
langchain-google-genai
python-dotenv
httpx